blessings==1.7
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
click==8.0.1
curtsies==0.3.5
cwcwidth==0.1.4
filelock==3.0.12
huggingface-hub==0.0.12
idna==2.10
joblib==1.0.1
numpy==1.21.0
packaging==21.0
pycparser==2.20
pyparsing==2.4.7
PyYAML==5.4.1
regex==2021.7.1
requests==2.25.1
sacremoses==0.0.45
six==1.16.0
sounddevice==0.4.1
tokenizers==0.10.3
torch==1.9.0
tqdm==4.61.1
transformers==4.8.2
typing-extensions==3.10.0.0
urllib3==1.26.6
vosk==0.3.30
